@media all and (min-width:320px) and (max-width:720px) and (min-device-width:320px) and (max-device-width:720px) {
    body {
        width: 100%;
    }
    .header {
        width: 1280px;
        background-size: cover;
    }
    .section_1 {
        background: url(../img/sec_1.jpg) no-repeat center top;
        background-size: cover;
        width: 1280px;
        height: 921px;
    }
    .section_2 {
        background: url(../img/sec_2.png) no-repeat center top;   
        background-size: cover;
        width: 1280px;
        height: 953px;
    }
    iframe {
        margin-left: 0;
    }
    .footer{
        background: url(../img/footer.png) no-repeat center top;
        background-size: cover;
        width: 1280px;
        height: 45px;
    }

}
@media all and (min-width:721px) and (max-width:1279px) and (min-device-width:721px) and (max-device-width:1279px) {
    
    body {
        width: 100%;
        max-width: 100%;
    }
    .header {
        width: 1280px;
        background-size: cover;
    }
    .section_1 {
        background: url(../img/sec_1.jpg) no-repeat center top;
        background-size: cover;
        width: 1280px;
        height: 921px;
    }
    .section_2 {
        background: url(../img/sec_2.png) no-repeat center top;   
        background-size: cover;
        width: 1280px;
        height: 953px;
        margin-top: -470px;
    }
    iframe {
        margin-left: 0;
        width: 1280px;
    }
    .footer{
        background: url(../img/footer.png) no-repeat center top;
        background-size: cover;
        width: 1280px;
        height: 45px;
    }
}

@media all and (min-width:1281px) and (max-width:1600px) and (min-device-width:1281px) and (max-device-width:1600px) {
    body {
        width: 1600px;
        max-width: 1600px;
    }
    .header {
        width: 100%;
        background-size: cover;
    }
    .section_1 {
        background: url(../img/sec_1.jpg) no-repeat center top;
        background-size: cover;
        width: 100%;
        height: 1100px;
    }
    .sec_1 {
        color: white;
        width: 860px;
        justify-content: center;
        padding-top: 370px;
        font-size: 20px;
        margin: 0 auto;
        font-weight: 100;
    
    }

    .sec_1 h1 {
        padding-bottom: 20px;
        text-align: center;
        font-size: 40px;
    }

    .section_2 {
        background: url(../img/sec_2.png) no-repeat center top;   
        background-size: cover;
        width: 100%;
        height: 1100px;
        margin-top: -470px;
    }
    .sec_2 {
        color: white;
        width: 1100px;
        justify-content: center;
        padding-top: 450px;
        font-size: 20px;
        margin: 0 auto;
        margin-left: 300px;
    }
    .sec_2 h1 {
        padding-bottom: 20px;
        text-align: left;
        font-size: 40px;
    }
    .button2 {
        display: inline-block;
        width: 200px;
        padding: 8px;
        color: #fff;
        border: 3px solid #fff;
        border-radius: 7px;
        text-align: center;
        outline: none;
        font-size: 30px;
        font-weight: 500;
        text-decoration: none;
        transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
    }

    iframe {
        margin-left: 0;
        width: 100%;
    }
    .footer{
        background: url(../img/footer.png) no-repeat center top;
        background-size: cover;
        width: 100%;
        height: 45px;
    }

    .form2 {
        display: flex;
        flex-direction: column;
        width: 435px;
        height: 435px;
        margin-top: -530px;
        align-items: center;
        padding-top: 120px;
        background: #fff;
        opacity: 0.8;
        align-content: center;
        border-radius: 50%;
        position: absolute;
        left: 580px;
        box-shadow: 0 1px 5px rgba(0,0,0,0.5);
        
    }
}

@media all and (min-width:1601px) and (max-width:2560px) and (min-device-width:1601px) and (max-device-width:2560px) {
    body {
        width: 2560px;
        max-width: 2560px;
    }
    .header {
        width: 100%;
        background-size: cover;
    }
    .section_1 {
        background: url(../img/sec_1.jpg) no-repeat center top;
        background-size: cover;
        width: 100%;
        height: 1600px;
    
    }
    .sec_1 {
        color: white;
        width: 1160px;
        justify-content: center;
        padding-top: 570px;
        font-size: 26px;
        margin: 0 auto;
        font-weight: 100;
    
    }

    .sec_1 h1 {
        padding-bottom: 20px;
        text-align: center;
        font-size: 55px;
    }

    .section_2 {
        background: url(../img/sec_2.png) no-repeat center top;   
        background-size: cover;
        width: 100%;
        height: 1600px;
        margin-top: -700px;
    }
    .sec_2 {
        color: white;
        width: 1500px;
        justify-content: center;
        padding-top: 800px;
        font-size: 26px;
        margin: 0 auto;
        margin-left: 672px;
    }
    .sec_2 h1 {
        padding-bottom: 20px;
        text-align: left;
        font-size: 55px;
    }
    .button2 {
        display: inline-block;
        width: 300px;
        padding: 8px;
        color: #fff;
        border: 5px solid #fff;
        border-radius: 7px;
        text-align: center;
        outline: none;
        font-size: 50px;
        font-weight: 500;
        text-decoration: none;
        transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
    }

    iframe {
        margin-left: 0;
        width: 100%;
    }
    .footer{
        background: url(../img/footer.png) no-repeat center top;
        background-size: cover;
        width: 100%;
        height: 45px;
    }
    .form2 {
        display: flex;
        flex-direction: column;
        width: 435px;
        height: 435px;
        margin-top: -530px;
        align-items: center;
        padding-top: 120px;
        background: #fff;
        opacity: 0.8;
        align-content: center;
        border-radius: 50%;
        position: absolute;
        left: 1050px;
        box-shadow: 0 1px 5px rgba(0,0,0,0.5);
        
    }
}
