body {
    color: #4f4e4e;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    min-width: 320px;
    max-width: 1280px;

}
.clearfix:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

div {
    box-sizing: border-box;
}

header {
    background: url(../img/Header.jpg) no-repeat center top;
    height: 800px;
    
}
.container {
    width: 880px;
    margin: 0 auto;
}

.logo {
    margin-top: 68px;
}

.logotype {
    text-align: center;
    
}
.heading {
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 50px;
    text-transform: uppercase;
    margin-top: 74px;

}
.press {
    width: 335px;
    height: 335px;
    background: white;
    box-shadow: 0 1px 5px rgba(0,0,0,0.5);
    margin: 0 auto;
    border-radius: 3px;
}
.form {
    text-align: center;
    margin-top: 53px;
    padding-top: 23px;
    margin-bottom: 23px;
}

.callme {
    text-align: center;
    margin-top: 0px;
    
}

.text {
    text-align: center;
    font-size: 16px;
    margin-top: 23px;
    color: #4f4e4e;
}
.button {
    text-align: center;
    margin-top: 25px;
}

.files {
    margin-top: 173px;
    display: flex;
    flex-direction: row;
    
}
#document {
    height: 400px;
    width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.documents {
    width: 440px;
    height: 121px;
    float: left;
    text-align: left;
    display: flex;
    flex-direction: row;
    margin-left: 60px;
    margin-right: 60px;
}
.documents p {
    color: #4f4e4e;
}
.files:last-child {
    float: right;
}
.layout-text {
    display: flex;
    flex-direction: column;
    width: 260px;
    text-align: left;
    margin-left: 30px;
}
.input {
    width: 265px;
    height: 35px;
}
button {
    width: 195px;
    height: 45px;
    background: #227dd3;
    color: white;
    font-weight: 500;
}
.section_1 {
    background: url(../img/sec_1.jpg) no-repeat center top;
    height: 921px;
}
.section_2 {
    background: url(../img/sec_2.png) no-repeat center top;
    height: 953px;
    margin-top: -350px;
}

.map {
    height: 635px;
    margin-top: -95px;
    justify-content: center;
}
iframe{
    width: 1280px;
    height: 635px;
    border:0;
    justify-content: center;
    position: relative;
    
}
.footer {
    background: url(../img/footer.png) no-repeat center top;
    height: 45px;
    text-align: center;
    color: #fff;
    padding-top: 13px;
}
.sec_1 {
    color: white;
    width: 660px;
    justify-content: center;
    padding-top: 270px;
    font-size: 16px;
    margin: 0 auto;
    
}
.sec_1 h1 {
    padding-bottom: 20px;
    text-align: center;
}
.sec_2 {
    color: white;
    width: 1000px;
    justify-content: center;
    padding-top: 370px;
    font-size: 16px;
    margin: 0 auto;
    padding-left: 450px;
}
.sec_2 h1 {
    padding-bottom: 20px;
    text-align: left;
    
}
.button2 {
    display: inline-block;
    width: 150px;
    padding: 8px;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 5px;
    text-align: center;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
  }
  .button2:hover,
  .button2:active {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.418);
    border-color: #fff;
    border-color: rgba(255, 255, 255, 0.4);
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    text-decoration: none;
    color: #fff;
  }

  .button3 {
      border-radius: 50%;
      width: 67px;
      height: 67px;
      background-color: transparent;
      border: none;
      opacity: 1;
      cursor: pointer;
      margin-top: 15px;
      
  }
  .form2 {
      display: flex;
      flex-direction: column;
      width: 435px;
      height: 435px;
      margin-top: -530px;
      align-items: center;
      padding-top: 120px;
      background: #fff;
      opacity: 0.8;
      align-content: center;
      border-radius: 50%;
      position: absolute;
      left: 430px;
      box-shadow: 0 1px 5px rgba(0,0,0,0.5);
      
  }

  .input2 {
      margin-bottom: 15px;
      width: 275px;
      height: 35px;
      opacity: 1;
  }

  textarea {
    margin-bottom: 15px;
    width: 275px;
    height: 80px;
  }
